body{
  color:green;
  background-color:purple;
}
#wrapper{
  width:900px;
  height: 850px;
  background-color:cyan;
  margin:auto;
}
#header{
  width:900px;
  height: 110px;
  background-color:blue;
  margin:auto;
}
#nav{

  width:894px;
  height: 50px;
  border: solid purple 3px;
  background-color:lightblue;
  margin:auto;
}
#body{
  width:900px;
  height: 450px;
  background-color:turquoise;
  margin:auto;
  text-align: center;
}
#foot{
  width:900px;
  height: 100px;
  background-color:blue;
  margin:auto;
}
.button{
  text-shadow: 1px 1px 4px white, 0 0 25px blue, 0 0 5px darkblue;
  width:150px;
  height: 40px;
  background-color:purple;
  color: cyan;
  margin:5px;
  margin-left:10px;
  float:left;
  border: solid blue 1px;
}
#koala{
  height:110px;
 }
 #title{
   text-align: center;
 }
